.account {
    margin-top: 50px;
  }
  
  .login-form {
    background-color: #ffffff;
  }
  
  .login-form .heading {
    margin-bottom: 20px;
  }
  
  .login-form label {
    font-weight: bold;
  }
  
  .login-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #0c0b0b;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .btn-main {
    background-color: #f3eeee;
    color: #0a0202;
  }
  

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }